:root {
    --clr-main-light-gray: hsl(0, 0%, 60%);
    --clr-main-dark-gray: hsl(0, 0%, 25%);

    --clr-black: hsl(0, 0%, 0%);
    --clr-white: hsl(0, 0%, 100%);

    --ff-main: 'Lexend Deca', sans-serif;
    --ff-title: 'Mooli', sans-serif;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

body {
    background-color: var(--clr-main-light-gray);
    font-family: var(--ff-main);
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 4rem;
}

.title {
    font-size: 4rem;
    text-align: center;
    font-family: var(--ff-title);
}

.sketch-container {
    width: 500px;
    height: 500px;
    background-color: var(--clr-white);
}
.flex-group {
    display: flex;
}
.flex-element:hover {
    background-color: var(--clr-main-dark-gray);
}

.options {
    display: flex;
    align-items: center;
    gap: .5rem;
}

input[type=color] {
    width: 80px;
    height: 50px;
    background: none;
    border: none;
}

.button {
    padding: 1rem;
}
