:root {
    --clr-main-light-gray: hsl(0, 0%, 45%);
    --clr-main-dark-gray: hsl(0, 0%, 25%);

    --clr-black: hsl(0, 0%, 0%);
    --clr-white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(270deg, var(--clr-main-light-gray), var(--clr-main-dark-gray));
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    min-height: 100vh;
}

.title {
    font-size: 3rem;
}

.sketch-container {
    width: 500px;
    height: 500px;
    background-color: var(--clr-white);
}

.flex-group {
    display: flex;
}

.flex-element:hover {
    background-color: var(--clr-main-dark-gray);
}
